@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}
<!-- Page Content-->
            <div class="container px-5 my-5">
                
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Skills</span></h1>
                </div>

                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        
                        <!-- Skills Section-->
                        <section>
                            
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Web Development</span></h3>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML5</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bootstrap</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ASP .NET</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Front End Developer</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Single Page Application</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">LESS</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SASS / SCSS</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">WordPress</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Umbraco</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">JavaScript</span></h3>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TypeScript</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JQuery</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">NPM</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Vue</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Angular</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">SQL</span></h3>
                                        
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL Lite</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MYSQL</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">NoSQL</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Git</span></h3>
                                        
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Github</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Coding</span></h3>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C++</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JSON</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TypeScript</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">OpenGL</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PHP</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Laravel</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Coding</span></h3>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Unity</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Unreal</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Godot</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C# in Unity</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C++ in Unreal</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Blender 3D</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Software Development</span></h3>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">RayLib5</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">LWJGL</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GLFW</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">IDE</span></h3>

                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">VS Studio</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">VS Code</p></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Jetbrains</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Eclipse</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Operating Systems</span></h3>

                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Windows</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Linux</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Adobe</span></h3>

                                        <div class="row row-cols-1 row-cols-md-4 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Photoshop</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Illustrator</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">XD</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">After Effects</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Affinity</span></h3>

                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Photo</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Designer</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Music</span></h3>

                                        <div class="row row-cols-1 row-cols-md-2 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ableton Live</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Audacity</p></div>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <h3 class="d-flex align-items-center mb-4 fw-bolder mb-0"><span class="text-gradient d-inline">Microsoft Office</span></h3>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Word</p></div>
                                            <div class="col mb-4 mb-md-0"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Powerpoint</p></div>
                                            <div class="col"><p class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Excel</p></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                        </section>

                    </div>
                </div>

            </div>